<?xml version="1.0" ?>
<config>
    <modules>
        <gugliotti_helloworld>
            <version>0.1.0</version>
        </gugliotti_helloworld>
    </modules>
    <global>
        <helpers>
            <gugliotti_helloworld>
                <class>Gugliotti_Helloworld_Helper</class>
            </gugliotti_helloworld>
        </helpers>
        <blocks>
            <gugliotti_helloworld>
                <class>Gugliotti_Helloworld_Block</class>
            </gugliotti_helloworld>
        </blocks>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <gugliotti_helloworld>
                    <files>
                        <default>Gugliotti_Helloworld.csv</default>
                    </files>
                </gugliotti_helloworld>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Gugliotti_Helloworld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>
        <layout>
            <updates>
                <gugliotti_helloworld>
                    <file>gugliotti_helloworld.xml</file>
                </gugliotti_helloworld>
            </updates>
        </layout>
        <translate>
            <modules>
                <gugliotti_helloworld>
                    <files>
                        <default>Gugliotti_Helloworld.csv</default>
                    </files>
                </gugliotti_helloworld>
            </modules>
        </translate>
    </frontend>
    <default>
        <gugliotti_helloworld>
            <configuration>
                <enabled>0</enabled>
                <message>Custom Message Not Defined</message>
            </configuration>
        </gugliotti_helloworld>
    </default>
</config>