<?xml version="1.0"?>
<config>
<!--    <tabs>-->
<!--        <ign module="siteblocks">-->
<!--            <label>IGN</label>-->
<!--            <sort_order>200</sort_order>-->
<!--        </ign>-->
<!--    </tabs>-->
    <sections>
        <siteblocks module="siteblocks">
            <label>Siteblocks</label>
            <tab>general</tab>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general>
                    <label>Settings</label>
                    <expanded>1</expanded>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <is_enabled>
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
<!--                            <source_model>siteblocks/source_myoptions</source_model>-->
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_Website>1</show_in_Website>
                            <show_in_store>1</show_in_store>
                            <comment>Is module enabled</comment>
                        </is_enabled>
                        <blocks_count>
                            <label>Enabled</label>
                            <frontend_type>text</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_Website>1</show_in_Website>
                            <show_in_store>1</show_in_store>
                            <comment>count</comment>
                            <depends><is_enabled>1</is_enabled></depends>
                        </blocks_count>
                    </fields>
                </general>
            </groups>
        </siteblocks>
    </sections>
</config>